RESULTS/**/*.dat*
RESULTS/**/*.raw*

penEasy/*.dat
penEasy/*.raw
penEasy/penEasy.dmp
penEasy/penelope_aux.err
penEasy/default.tmp.geo

penelopet/work/main/*.dat
penelopet/work/main/output_geo.txt
penelopet/work/main/image*.raw
penelopet/work/main/scanner.geo
penelopet/work/main/hits.list

gate/output/*
!gate/output/stat.txt


.vscode/*
__pycache__/*
fermi/fort.88
